*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	-moz-user-select: -moz-none;
}
canvas{
	display:block;
	margin:50px auto;
	box-shadow:-2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
	background-color:#a77157;
}
#withdraw{
	margin:auto;
	border:1px solid #000;
	border-radius:3px;
	line-height:26px;
	font-size:24px;
	width:80px;
	text-align:center;
	cursor:pointer;
}